@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

* {
  padding: 0px;
  margin: 0px;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;

  font-family: Roboto;
}

.auth-form {
  display: flex;
  flex-direction: column;
  padding: 62px 97px 60px 97px;
  width: 666px;
  height: 466px;
  box-sizing: border-box;
  background-color: #39476d;
}

.auth-form__inputs {
  display: flex;
  flex-direction: row;
}

.auth-form__input {
  width: 100%;
  height: 59px;

  font-family: Roboto;
  font-size: 18px;

  margin-bottom: 20px;

  border-radius: 14px;
  background-color: #fff;
  border-style: none;
  box-sizing: border-box;

  cursor: pointer;
}

.auth-form__input:focus-visible,
.auth-form__input:hover {
  outline: 2px solid #b5b1b1;
}

.error {
  outline: 2px solid rgb(255, 122, 122);
}

.error-text {
  color: rgb(255, 122, 122);
}

.auth-form__input_email {
  background: url(assets/imgs/email.svg) no-repeat 15px 22px white;
  padding-left: 46px;
}

.auth-form__input_name {
  background: url(assets/imgs/person.svg) no-repeat 15px 22px white;
  padding-left: 46px;
}

.auth-form__input_password {
  background: url(assets/imgs/key.svg) no-repeat 15px 22px white;
  padding-left: 46px;
}

.auth-form__inputs .auth-form__input:first-child {
  margin-right: 22px;
}

.auth-form__input::placeholder {
  color: #c9c9c9;
  font-size: 18px;
}

.auth-form__button {
  height: 59px;
  width: 100%;

  margin-top: 68px;

  font-weight: 700;
  font-size: 24px;

  border-radius: 14px;
  background-color: #e25100;
  border-style: none;

  color: #fff;
  cursor: pointer;
}

.auth-form__button:hover {
  background-color: #c55716;
}

.modal {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: fixed;

  background-color: #fefefe;
  border-radius: 14px;
  padding: 10px 20px;
  width: 376px;
  height: 173px;

  box-sizing: border-box;
}

.modal-content__text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  font-size: 24px;
  text-align: center;

  padding: 0px 20px;
}

.modal-content__close {
  align-self: flex-end;
  float: right;
  position: relative;
  color: #aaa;
  font-size: 32px;
}

.modal-content__close:hover,
.modal-content__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  .auth-form {
    width: 281px;
    height: 498px;
    padding: 51px 23px 46px 23px;
  }

  .auth-form__inputs {
    flex-direction: column;
  }

  .auth-form__input {
    height: 49px;

    margin-bottom: 16px;
  }

  .auth-form__button {
    height: 49px;

    margin-top: 24px;
  }

  .modal-content {
    width: 100%;
    height: 100vh;

    padding: 0px 20px;

    border-radius: 0px;
  }

  .modal-content__text {
    font-size: 31px;
  }

  .modal-content__close {
    font-size: 66px;
  }
}
